.date-box {
    background-color: transparent
}

.day-text {
    font-family: SuperMario256;
    font-size: 128px;
    margin-bottom: -50px
}

.date-text {
    font-family: SuperMario256;
    font-size: 32px
}